<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Express</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="">EXPRESS <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../dom">DOM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../cliente_servidor">CLIENTE-SERVIDOR</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="bg-blue-500 p-4">
        <div class="min-h-screen flex items-center justify-center">
            <div class="bg-white p-6 rounded-lg shadow-md overflow-x-auto">
                <h1 class="text-center mb-8 text-5xl font-bold">LISTADO DE COMPRAS</h1>
                <div class="table-container table-striped table-responsive">
                    <table class="table-auto m-2 w-full whitespace-no-wrap ">
                        <thead>
                            <tr class="border">
                                <th class="px-5 py-3 border">Criptomoneda</th>
                                <th class="px-5 py-3 border">Precio</th>
                                <th class="px-5 py-3 border">Cantidad</th>
                                <th class="px-5 py-3 border">Dirección de la Cartera</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.forEach(item => { %>
                                <tr>
                                    <td class="border px-5 py-3"><%= item.criptomoneda %></td>
                                    <td class="border px-5 py-3"><%= item.precio %></td>
                                    <td class="border px-5 py-3"><%= item.cantidad %></td>
                                    <td class="border px-5 py-3"><%= item.direccion %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
